# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.env

# datos y modelos
data/
logs/
*.db
models/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# jupyter
.ipynb_checkpoints/
